@model FitnessProject.Models.Client

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/admin_layout.cshtml";
}

<h2>Edit Client</h2>

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.gender, new List<SelectListItem>
                            {
                                new SelectListItem { Text = "Nam", Value = "Nam" },
                                new SelectListItem { Text = "Nữ", Value = "Nữ" },
                                new SelectListItem { Text = "Khác", Value = "Khác" }
                            }, "Chọn giới tính", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.birthday, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.weight, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01" } })
                            @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.anh, htmlAttributes: new { @class = "control-label" })
                            <input type="file" name="images" id="file" class="form-control" />
                            @Html.ValidationMessageFor(model => model.anh, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.height, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.height, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01" } })
                            @Html.ValidationMessageFor(model => model.height, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", type = "tel" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.user_id, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.user_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
